name: build

on:
  pull_request:

permissions: {}

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image:
          - github-issue-opener
          - slack-webhook
          - jira-issue-opener

    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3

      - uses: actions/setup-go@fac708d6674e30b6ba41289acaab6d4b75aa0753 # v4.0.1
        with:
          go-version: '1.20'
          check-latest: true

      - uses: ko-build/setup-ko@ace48d793556083a76f1e3e6068850c1f4a369aa # v0.6
      - uses: chainguard-dev/actions/setup-registry@main

      - name: Build
        working-directory: ${{ matrix.image }}/cmd/app
        run: |
          KO_DOCKER_REPO=localhost:1338/test ko build --image-refs=ko.images --bare .

          echo "KO build $(cat ko.images)"
